.whatch-info-th{
  width: 80%;
  display: flex;
  background: #181818;
  padding: 15px;
  gap: 30px;
}


.watch-info{
  width: 100%;
  color: white;
}

.watch-info p{
  margin-top: 10px;
}
.watch-info strong{
  color: #d8201d;
}
.watch-info p span{
  margin-left: 5px;
  font-size: medium;
}

.watch-info p span a {
  color: white;
}

@media (max-width: 768px) {

  
   .whatch-info-th{
    width: 100%;
  }

  .watch-info p span{
  font-size: small;
}

.watch-info p {
  font-size: small;
}

.watch-info h2 {
  font-size: medium;
}

}
